# Ignore node_modules, package.json, package.lock.json, and .gitignore
node_modules/
package.json
package-lock.json
.gitignore

# Ignore .DS_Store files
.DS_Store

# Include all lectures and related folders
!Lec*/
!Assignments/
!PostGreSQL*/
!Project_hospital/
